{
  "openapi": "3.1.0",
  "info": {
    "title": "JobMojito API",
    "version": "1.0.0",
    "description": "Public API for JobMojito, served by Supabase Edge Functions. Authenticate with a Supabase JWT access token via the Authorization header."
  },
  "servers": [
    {
      "url": "https://cool.jobmojito.com/functions/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Interviews",
      "description": "Create, configure and manage interview / coaching / assessment definitions."
    },
    {
      "name": "Results",
      "description": "Interview results, transcripts, reports, re-attempt requests and analytics."
    },
    {
      "name": "Candidates",
      "description": "List and manage candidates."
    },
    {
      "name": "Knowledge base",
      "description": "Upload documents used to generate knowledge-base interviews."
    },
    {
      "name": "Resume & Form verification",
      "description": "Pre-screen candidates from resumes and forms."
    },
    {
      "name": "Admin",
      "description": "Account administration — invite team/coaching users, manage sub-merchants and avatar templates."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT — `Authorization: Bearer <token>`."
      }
    },
    "schemas": {
      "JobInterviewCreateResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created interview definition set.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "interview_def_set_id"
        ],
        "description": "Id of the created interview. Includes embed_id/embed_signing_key when is_embedded=true."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Field is required."
          },
          "name": {
            "type": "string",
            "example": "interview_result_id"
          }
        },
        "required": [
          "error"
        ]
      },
      "JobInterviewCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Interview / position name.",
            "example": "Project manager"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "description": "Job location.",
            "example": "remote"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Id of the interview template to base this interview on.",
            "example": "baa3bf7c-6926-46fd-9005-16738a31f72d"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code used for the interview. Must be one of the platform-languages.json codes.",
            "example": "en"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "type": {
            "type": "string",
            "enum": [
              "interview",
              "coaching",
              "assessment"
            ],
            "description": "Product type of the interview. Options — `interview`: Standard candidate interview for a role — answers are AI-scored and produce a hiring recommendation. | `coaching`: Practice/coaching session — candidate-facing feedback to help them improve; not a hiring evaluation. Only available on the coaching portal, NOT the interview portal. | `assessment`: Skills/knowledge assessment — evaluates competencies and is scored like an interview..",
            "example": "interview"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "interview_type": {
            "type": "string",
            "enum": [
              "pre-screening",
              "pre-screening-with-test-questions",
              "second-interview",
              "remote-freelancer-verification",
              "strength-based-interview",
              "potential-based-interview",
              "process-verification-from-knowledge-base"
            ],
            "description": "Interview style — configures the AI avatar and shapes both the AI-generated questions and the follow-up questions asked during the interview. Defaults to pre-screening when omitted. Options — `pre-screening`: Pre-screening — quick qualification check focusing on basic requirements and availability. | `pre-screening-with-test-questions`: Pre-screening with test questions — pre-screening plus practical questions to test relevant skills. | `second-interview`: Second round interview — deeper dive for candidates who passed initial screening. | `remote-freelancer-verification`: Remote worker verification — verify remote work capabilities and communication skills. | `strength-based-interview`: Strength-based interview — focus on what candidates enjoy and excel at to predict job satisfaction. | `potential-based-interview`: Potential-based interview — assess learning ability and growth potential rather than past experience. | `process-verification-from-knowledge-base`: Knowledge Base interview — generate questions from your knowledge base documents..",
            "example": "pre-screening-with-test-questions"
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Target seniority level for the role; auto-detected from the job description when omitted. Options — `entry-level`: Early-career or graduate roles. | `intermediate`: Some experience required. | `senior`: Experienced professional. | `managerial`: Team or department lead. | `director`: Director-level responsibility. | `executive`: C-suite or executive role..",
            "example": "senior"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required.",
            "example": "optional"
          },
          "interview_tone": {
            "type": "string",
            "nullable": true,
            "description": "Interview tone — configures the AI avatar's speaking style and the tone of the AI-generated questions and follow-ups; omit to default to relaxed. Suggested values — `relaxed`: Friendly and conversational tone that helps candidates feel at ease. | `simple`: Plain language at CEFR A2 level — short sentences and simple words. | `professional`: Formal and business-like approach suitable for senior roles. | `persuasive`: Engaging style that encourages candidates to elaborate.. Case-insensitive; other strings are accepted but unknown tones fall back to the default.",
            "example": "professional"
          },
          "interview_length": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "nullable": true
              }
            ],
            "description": "Number of questions to generate (max 40).",
            "example": 8
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "minimum": 1,
            "maximum": 20,
            "description": "Allowed candidate attempts (1-20).",
            "example": 1
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum interview duration in minutes used to scope question generation.",
            "example": 30
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "minimum": 0.01,
            "maximum": 0.9,
            "description": "Ask only a random subset of the questions, expressed as a fraction between 0.01 and 0.9 (e.g. 0.5 = 50%). null asks all questions.",
            "example": 0.5
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference for the interview.",
            "example": "my code"
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL.",
            "example": "https://example.com/cover.png"
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "hiring_for_company": {
            "type": "string",
            "nullable": true,
            "description": "Who the position is for. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or pass the client's company name. Stored in creation_parameters.hiring_for_company.",
            "example": "undisclosed"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview.",
            "example": [
              "engineering",
              "remote"
            ]
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Admin / sub-merchant callers only; otherwise taken from your token.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Knowledge base store id to source additional context from."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short job description (regenerated by AI)."
          },
          "description_long": {
            "type": "string",
            "nullable": true,
            "description": "Long job description."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations folded into AI generation."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message shown to the candidate."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the interview."
          },
          "additional_context": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Arbitrary additional context object merged into AI generation."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom narration text for the instructional video."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Provisions an embed key and returns embed_id / embed_signing_key, which are used to authenticate/sign the iframe embed.",
            "example": false
          },
          "include_rapport_question": {
            "type": "boolean",
            "nullable": true,
            "description": "Include an opening rapport question. Defaults to false.",
            "example": true
          },
          "include_closing_prompt": {
            "type": "boolean",
            "nullable": true,
            "description": "Include a closing prompt. Defaults to true.",
            "example": true
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Show an instructional video before approval. Defaults to false.",
            "example": true
          },
          "use_enhanced_expectations": {
            "type": "boolean",
            "nullable": true,
            "description": "Reserved flag passed through to generation."
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Custom result-scoring overrides merged with defaults and template overrides."
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          }
        },
        "required": [
          "name",
          "location",
          "interview_template_id",
          "mojito_language_code",
          "status",
          "type",
          "visibility"
        ]
      },
      "JobInterviewCreateFromArrayResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created interview definition set."
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "interview_def_set_id"
        ],
        "description": "The created interview definition set id, plus embed credentials when is_embedded=true."
      },
      "JobInterviewCreateFromArrayQuestion": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "description": "The question text shown to the candidate."
          },
          "id": {
            "type": "string",
            "description": "Caller-local identifier for this question. Only needed when another question references it via conditional_question_main_id (the mapping is resolved within this array)."
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "Answer duration in seconds for this question."
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Per-question language override (one of the platform-languages.json codes). Inherits the interview language when omitted.",
            "example": "en"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Optional label/tag stored on the question."
          },
          "is_conditional": {
            "type": "boolean",
            "nullable": true,
            "description": "Conditional follow-up question (view 'with listening conditional'). Use with conditional_question_main_id."
          },
          "is_without_scoring": {
            "type": "boolean",
            "nullable": true,
            "description": "Question is asked but not scored (view 'without scoring')."
          },
          "is_candidate_asking_recruiter": {
            "type": "boolean",
            "nullable": true,
            "description": "Candidate-asks-recruiter prompt (view 'candidate asking recruiter')."
          },
          "is_expert": {
            "type": "boolean",
            "nullable": true,
            "description": "Expert listening question (view 'with listening expert')."
          },
          "is_multiple_choice": {
            "type": "boolean",
            "nullable": true,
            "description": "Multiple-choice question (view 'multiple choice')."
          },
          "question_alternatives": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Alternative phrasings for the question."
          },
          "conditional_question_main_id": {
            "type": "string",
            "nullable": true,
            "description": "For a conditional question, the id (the local \"id\" field above) of the parent question in this same array that triggers it."
          },
          "knowledge_base_id": {
            "type": "string",
            "nullable": true,
            "description": "Knowledge-base store id (uuid) the question draws context from."
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "External identifier stored on the question."
          },
          "external_data": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Arbitrary JSON metadata stored on the question."
          },
          "candidate_expectations_json": {
            "type": "object",
            "nullable": true,
            "properties": {
              "weak": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Baseline requirements every viable candidate should meet (table stakes)."
              },
              "moderate": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Requirements expected of a solid, competent candidate."
              },
              "strong": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "High-bar requirements only standout candidates clear."
              }
            },
            "description": "Per-question candidate expectations, bucketed by requirement level (weak/moderate/strong). Extra keys are preserved."
          }
        },
        "required": [
          "question"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "JobInterviewCreateFromArrayRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Interview/position name.",
            "example": "Project manager"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "description": "Interview location.",
            "example": "remote"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "description": "Id of the interview template to use. Must reference an existing interview_templates row.",
            "example": "46b98d37-1557-4391-beca-03037ead19f2"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code (one of the platform-languages.json codes); must also resolve to a supported language with an Azure speech mapping.",
            "example": "en"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Short interview description.",
            "example": "Project manager role"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "type": {
            "type": "string",
            "enum": [
              "interview",
              "coaching",
              "assessment"
            ],
            "description": "Product type of the interview. Options — `interview`: Standard candidate interview for a role — answers are AI-scored and produce a hiring recommendation. | `coaching`: Practice/coaching session — candidate-facing feedback to help them improve; not a hiring evaluation. Only available on the coaching portal, NOT the interview portal. | `assessment`: Skills/knowledge assessment — evaluates competencies and is scored like an interview..",
            "example": "interview"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobInterviewCreateFromArrayQuestion"
            },
            "minItems": 1,
            "description": "Ordered list of interview questions to create as steps."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "interview_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "pre-screening",
              "pre-screening-with-test-questions",
              "second-interview",
              "remote-freelancer-verification",
              "strength-based-interview",
              "potential-based-interview",
              "process-verification-from-knowledge-base"
            ],
            "description": "Interview style — configures the AI avatar and the follow-up questions it generates during the interview. The base `questions` you supply are used as-is and are NOT affected by this setting. Options — `pre-screening`: Pre-screening — quick qualification check focusing on basic requirements and availability. | `pre-screening-with-test-questions`: Pre-screening with test questions — pre-screening plus practical questions to test relevant skills. | `second-interview`: Second round interview — deeper dive for candidates who passed initial screening. | `remote-freelancer-verification`: Remote worker verification — verify remote work capabilities and communication skills. | `strength-based-interview`: Strength-based interview — focus on what candidates enjoy and excel at to predict job satisfaction. | `potential-based-interview`: Potential-based interview — assess learning ability and growth potential rather than past experience. | `process-verification-from-knowledge-base`: Knowledge Base interview — generate questions from your knowledge base documents..",
            "example": "pre-screening-with-test-questions"
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Target seniority level for the role; auto-detected from the job description when omitted. Options — `entry-level`: Early-career or graduate roles. | `intermediate`: Some experience required. | `senior`: Experienced professional. | `managerial`: Team or department lead. | `director`: Director-level responsibility. | `executive`: C-suite or executive role..",
            "example": "senior"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required."
          },
          "interview_tone": {
            "type": "string",
            "nullable": true,
            "description": "Tone — configures the AI avatar's speaking style and the follow-up questions it generates; the base `questions` you supply are not affected. Omit to default to relaxed. Suggested values — `relaxed`: Friendly and conversational tone that helps candidates feel at ease. | `simple`: Plain language at CEFR A2 level — short sentences and simple words. | `professional`: Formal and business-like approach suitable for senior roles. | `persuasive`: Engaging style that encourages candidates to elaborate.. Case-insensitive; other strings are accepted but unknown tones fall back to the default.",
            "example": "professional"
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "description": "Allowed attempts, 1-20.",
            "example": 1
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "description": "Fraction of questions to randomly ask, between 0.01 and 0.9."
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference."
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL."
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "hiring_for_company": {
            "type": "string",
            "nullable": true,
            "description": "Who the position is for. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or pass the client's company name. Stored in creation_parameters.hiring_for_company.",
            "example": "undisclosed"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview.",
            "example": [
              "engineering",
              "remote"
            ]
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Optional knowledge base store id; validated for existence."
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Target merchant id (admins / sub-merchant only)."
          },
          "description_long": {
            "type": "string",
            "nullable": true,
            "description": "Long-form interview description."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations."
          },
          "candidate_expectations_json": {
            "type": "object",
            "nullable": true,
            "properties": {
              "weak": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Baseline requirements every viable candidate should meet (table stakes)."
              },
              "moderate": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Requirements expected of a solid, competent candidate."
              },
              "strong": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "High-bar requirements only standout candidates clear."
              }
            },
            "description": "Pre-generated candidate expectations, bucketed by requirement level (weak/moderate/strong); auto-generated when omitted for type=interview. Extra keys are preserved."
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Custom scoring overrides merged with defaults."
          },
          "additional_context": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Extra context forwarded to expectation generation."
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Enable an instructional video before approval."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom text for the instructional video."
          },
          "disable_deduplication": {
            "type": "boolean",
            "nullable": true,
            "description": "When true, skip step deduplication on insert."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Creates an embed key and returns embed_id/embed_signing_key, used to authenticate/sign the iframe embed."
          }
        },
        "required": [
          "name",
          "location",
          "interview_template_id",
          "mojito_language_code",
          "description",
          "status",
          "type",
          "visibility",
          "questions"
        ]
      },
      "JobInterviewCreateForCandidateWithTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ai_accept",
              "recruiter_accept",
              "recruiter_action",
              "ai_reject",
              "recruiter_reject",
              "already-applied"
            ],
            "description": "Decision / lifecycle status for the candidate against this position."
          },
          "position_def_set_id": {
            "type": "string",
            "description": "Created/resolved position id."
          },
          "interview_def_set_id": {
            "type": "string",
            "description": "Created/resolved interview definition set id."
          },
          "profile_interview_id": {
            "type": "string",
            "description": "Candidate profile_interview id."
          },
          "interview_url": {
            "type": "string",
            "description": "URL the candidate should open to continue."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable reason, present on reject / already-applied branches."
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "status",
          "interview_url"
        ],
        "description": "Result of creating (or resolving) the position and enrolling the candidate. Fields present depend on the decision branch."
      },
      "JobInterviewCreateForCandidateWithTokenRequest": {
        "type": "object",
        "properties": {
          "position_def_set_id": {
            "type": "string",
            "nullable": true,
            "description": "Existing position_def_set id. When provided, the position is looked up instead of created, and position_name/position_location/position_country_code/mojito_language_code become optional.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "position_external_id": {
            "type": "string",
            "nullable": true,
            "description": "External position code used to look up an existing position.",
            "example": "JOB-123"
          },
          "interview_template_id": {
            "type": "string",
            "nullable": true,
            "description": "Interview template id to base the interview on. Defaults to the platform template when omitted.",
            "example": "5d8ea38b-eec4-4866-aa6c-b2ea5bc6e45b"
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Only honoured for admin / sub-merchant tokens; otherwise the token merchant is used.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "position_name": {
            "type": "string",
            "nullable": true,
            "description": "Position / job title. Required when position_def_set_id is not provided.",
            "example": "Entry level coffee boy"
          },
          "position_location": {
            "type": "string",
            "nullable": true,
            "description": "Position location. Required when position_def_set_id is not provided.",
            "example": "remote"
          },
          "position_country_code": {
            "type": "string",
            "nullable": true,
            "description": "ISO country code of the position. Required when position_def_set_id is not provided.",
            "example": "SK"
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Interview language code (one of the platform-languages.json codes). Required when position_def_set_id is not provided.",
            "example": "en"
          },
          "position_description": {
            "type": "string",
            "nullable": true,
            "description": "Short position description."
          },
          "position_description_long": {
            "type": "string",
            "nullable": true,
            "description": "Full / long position description."
          },
          "candidate_name": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate full name.",
            "example": "John"
          },
          "candidate_email": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate email (used as auth identity).",
            "example": "peterson6@hello.com"
          },
          "candidate_country_code": {
            "type": "string",
            "minLength": 1,
            "description": "ISO country code of the candidate.",
            "example": "HR"
          },
          "candidate_resume": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate resume parsed text.",
            "example": "Curriculum Vitae ..."
          },
          "candidate_external_id": {
            "type": "string",
            "nullable": true,
            "description": "External candidate id stored on the profile."
          },
          "candidate_linkedin_url": {
            "type": "string",
            "nullable": true,
            "description": "Candidate LinkedIn URL."
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required."
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "minimum": 1,
            "maximum": 20,
            "description": "Number of allowed interview attempts (1-20).",
            "example": 3
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Seniority level of the position. Auto-detected when omitted."
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "How interview results are shown to the candidate. Defaults to minimal."
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Optional custom scoring overrides merged with platform defaults."
          },
          "use_enhanced_expectations": {
            "type": "boolean",
            "nullable": true,
            "description": "Reserved flag for enhanced candidate expectations generation."
          },
          "include_rapport_question": {
            "type": "boolean",
            "nullable": true,
            "description": "Include an opening rapport question. Defaults to false."
          },
          "include_closing_prompt": {
            "type": "boolean",
            "nullable": true,
            "description": "Include a closing prompt. Defaults to true."
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Show an instructional video before the interview. Defaults to false."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom text shown with the instructional video."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message for the interview."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the interview."
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum interview duration used to scale generated questions."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Ensures an embed key exists and returns embed_id/embed_signing_key, used to authenticate/sign the iframe embed."
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "minimum": 0.01,
            "maximum": 0.9,
            "description": "Ask only a random subset of the questions, expressed as a fraction between 0.01 and 0.9 (e.g. 0.5 = 50%). null asks all questions.",
            "example": 0.5
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview.",
            "example": [
              "engineering",
              "remote"
            ]
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "hiring_for_company": {
            "type": "string",
            "nullable": true,
            "description": "Who the position is for. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or pass the client's company name. Stored in creation_parameters.hiring_for_company.",
            "example": "undisclosed"
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          }
        },
        "required": [
          "candidate_name",
          "candidate_email",
          "candidate_country_code",
          "candidate_resume"
        ]
      },
      "PersonaCreateResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created persona definition set.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "interview_def_set_id"
        ],
        "description": "Id of the created persona. Includes embed_id/embed_signing_key when is_embedded=true."
      },
      "PersonaCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Persona / session name.",
            "example": "Difficult customer role-play"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Id of the interview template (avatar) the persona uses.",
            "example": "baa3bf7c-6926-46fd-9005-16738a31f72d"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code used for the conversation. Must be one of the platform-languages.json codes.",
            "example": "en"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "persona_role_avatar": {
            "type": "string",
            "minLength": 1,
            "description": "The role the AI avatar plays. Example: 'is to act as a happy customer responding to questions'.",
            "example": "is to act as a happy customer responding to questions"
          },
          "persona_role_user": {
            "type": "string",
            "minLength": 1,
            "description": "The role the candidate (mentee) plays. Example: 'is to be a sales person trying to sell an additional product to the customer'.",
            "example": "is to be a sales person trying to sell an additional product to the customer"
          },
          "persona_avatar_who_is": {
            "type": "string",
            "nullable": true,
            "description": "Who the avatar represents (background/identity of the persona)."
          },
          "persona_avatar_knowledge": {
            "type": "string",
            "nullable": true,
            "description": "What the avatar knows — facts/context the avatar can draw on during the conversation."
          },
          "persona_avatar_end_conditions": {
            "type": "string",
            "nullable": true,
            "description": "Conditions under which the avatar should end the session."
          },
          "opening_line": {
            "type": "string",
            "nullable": true,
            "description": "The avatar's opening line — the FIRST thing it says out loud when the session starts, before the candidate has said anything. This is a literal spoken line, NOT a description: write the exact words the avatar should say, in character and consistent with persona_role_avatar. For an escalated scenario it should already convey that state (e.g. an angry customer opens angrily). If omitted, the platform inserts a generic default (\"Hello\"), which is usually a weak opener — set this for anything other than a neutral greeting.",
            "example": "Oh, finally — someone actually comes over! I've been waiting for ages. Are you going to help me or not?"
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "maxLength": 2100,
            "description": "Mentee assessment goals — free-text describing what the candidate is expected to achieve (max 2100 chars)."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required.",
            "example": "optional"
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum conversation duration in seconds. Defaults to 1200 (20 min) when omitted.",
            "example": 1200
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference for the persona.",
            "example": "my code"
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL.",
            "example": "https://example.com/cover.png"
          },
          "interview_location": {
            "type": "string",
            "nullable": true,
            "description": "Optional location label shown for the session.",
            "example": "remote"
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Admin / sub-merchant callers only; otherwise taken from your token.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this persona. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message shown to the candidate."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the session."
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the persona.",
            "example": [
              "sales",
              "role-play"
            ]
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the persona will be embedded as an iframe on an external page. Provisions an embed key and returns embed_id / embed_signing_key.",
            "example": false
          }
        },
        "required": [
          "name",
          "interview_template_id",
          "mojito_language_code",
          "status",
          "visibility",
          "persona_role_avatar",
          "persona_role_user"
        ]
      },
      "JobInterviewGetResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Interview or position name."
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "example": "2026-01-15T09:30:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "example": "2026-01-20T14:05:00.000Z"
          },
          "calc_definition_json": {
            "nullable": true,
            "description": "The compiled interview definition JSON (structure varies by interview type)."
          },
          "is_multistage": {
            "type": "boolean",
            "description": "True when the id resolved to a multi-stage position rather than a single interview."
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived",
              "deleted",
              "preparing",
              "completed"
            ],
            "description": "Lifecycle status of the interview/position."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted",
              "sub_item"
            ],
            "description": "Who can see and access the interview/position."
          },
          "stage": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Interest",
              "Application submitted",
              "Interview 1st planned",
              "Interview 1st completed",
              "Interview 2nd planned",
              "Interview 2nd completed",
              "Interview 3rd planned",
              "Interview 3rd completed",
              "Offer negotiations",
              "Hired",
              "Rejected",
              "Offer declined",
              "Other"
            ],
            "description": "Hiring-pipeline stage. Null for multi-stage positions."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "coaching",
              "interview",
              "persona",
              "public_avatar",
              "assessment"
            ],
            "description": "Interview type. Null for multi-stage positions."
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Caller-supplied external code/reference."
          },
          "interview_location": {
            "type": "string",
            "nullable": true,
            "description": "Location (create field `location`)."
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL."
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Owning merchant id."
          },
          "interview_template_id": {
            "type": "string",
            "nullable": true,
            "description": "Interview template id. For multi-stage positions this is the first interview step's template."
          },
          "interview_template_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "offline_elai",
              "offline_synthesia",
              "interactive_heygen",
              "offline_heygen",
              "interactive_elevenlabs"
            ],
            "description": "Type of the linked interview template. `interactive_elevenlabs` is voice-only; the others (`interactive_heygen`, `offline_heygen`, `offline_elai`, `offline_synthesia`) are avatar-based. Null when the template could not be resolved."
          },
          "is_voice_only": {
            "type": "boolean",
            "nullable": true,
            "description": "Convenience flag derived from interview_template_type: true when voice-only (`interactive_elevenlabs`), false when avatar-based, null when the template type could not be resolved."
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Linked knowledge base store id. Null for multi-stage positions."
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "description": "Platform (mojito) language code.",
            "example": "en"
          },
          "speech_language_code": {
            "type": "string",
            "nullable": true,
            "description": "Azure speech language code. Null for multi-stage positions."
          },
          "speech_language_name": {
            "type": "string",
            "nullable": true,
            "description": "Azure speech language display name. Null for multi-stage positions."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Per-answer recording mode. Null for multi-stage positions."
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Full-session recording mode. Null for multi-stage positions."
          },
          "type_credit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "resume_check",
              "interview_coach_starter",
              "interview_coach_contributor",
              "interview_coach_manager",
              "cover_letter"
            ],
            "description": "Credit bucket the interview draws from. Null for multi-stage positions."
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "minimal",
              "advanced",
              "full",
              "full_expand_scores",
              "minimal_with_score",
              "none"
            ],
            "description": "Result view level. Null for multi-stage positions."
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "hidden",
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is hidden/optional/required. Null for multi-stage positions."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short description."
          },
          "interview_description_long": {
            "type": "string",
            "nullable": true,
            "description": "Long description (create field `description_long`)."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations. Null for multi-stage positions."
          },
          "candidate_expectations_json": {
            "nullable": true,
            "description": "Structured candidate expectations JSON. Null for multi-stage positions."
          },
          "result_scoring": {
            "nullable": true,
            "description": "Resolved result-scoring config. Null for multi-stage positions."
          },
          "creation_parameters": {
            "nullable": true,
            "description": "The creation parameters recorded at build time (interview_type, interview_tone, interview_length, additional_context, include_rapport_question, include_closing_prompt, knowledge_base_store_id, seniority_level)."
          }
        },
        "required": [
          "name",
          "created_at",
          "updated_at",
          "is_multistage",
          "status",
          "visibility",
          "stage",
          "type",
          "code",
          "interview_location",
          "cover_image_url",
          "merchant_id",
          "interview_template_id",
          "interview_template_type",
          "is_voice_only",
          "knowledge_base_store_id",
          "mojito_language_code",
          "speech_language_code",
          "speech_language_name",
          "recording",
          "recording_full_session",
          "type_credit",
          "result_view",
          "candidate_video_introduction",
          "description",
          "interview_description_long",
          "candidate_expectations"
        ]
      },
      "JobInterviewSetStateResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "success": {
                "type": "boolean"
              }
            },
            "required": [
              "success"
            ]
          },
          {
            "type": "object",
            "properties": {
              "embed_id": {
                "type": "string"
              },
              "embed_signing_key": {
                "type": "string"
              }
            },
            "required": [
              "embed_id",
              "embed_signing_key"
            ]
          }
        ],
        "description": "Returns `{ embed_id, embed_signing_key }` when an embed key was created/returned (is_embedded=true), otherwise `{ success: true }`."
      },
      "JobInterviewSetStateRequest": {
        "type": "object",
        "properties": {
          "position_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Interview definition id or position id whose state should change.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "active",
              "archived",
              "deleted",
              "preparing",
              "completed"
            ],
            "description": "New lifecycle status to apply."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Controls iframe embedding of the interview on an external page. When true, ensures an embed key exists (returns embed_id/embed_signing_key, used to authenticate/sign the iframe embed). When false, removes the embed keys (disables embedding)."
          }
        },
        "required": [
          "position_id"
        ]
      },
      "JobInterviewTokenResponse": {
        "type": "string",
        "description": "The signed interview URL.",
        "example": "https://interviews.example.com/interview/take/<id>/?interview_token=<jwt>&view_hm=true"
      },
      "JobInterviewTokenRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "interview-for-profile",
              "results-for-profile",
              "interview-result-candidate",
              "interview-result-talent-seeker",
              "interview-results-for-position"
            ],
            "description": "Which kind of signed URL to generate."
          },
          "merchant_id": {
            "type": "string",
            "description": "Override merchant id (admin / sub-merchant only)."
          },
          "interview_profile_id": {
            "type": "string",
            "description": "Candidate profile id. Required for interview-for-profile and results-for-profile."
          },
          "interview_id": {
            "type": "string",
            "description": "Interview or position id. Required for interview-for-profile and interview-results-for-position."
          },
          "interview_result_id": {
            "type": "string",
            "description": "Interview result id. Required for interview-result-candidate and interview-result-talent-seeker."
          },
          "hide_menu": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ],
            "description": "Pass the string 'false' to show the navigation menu; any other value hides it (default)."
          }
        },
        "required": [
          "type"
        ]
      },
      "JobInterviewRegisterUsersResponse": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "nullable": true
            },
            "email": {
              "type": "string"
            },
            "external_id": {
              "type": "string",
              "nullable": true
            },
            "result": {
              "type": "string",
              "description": "\"ok\" on success, otherwise an \"Error: ...\" message for that user.",
              "example": "ok"
            },
            "interview_url": {
              "type": "string",
              "description": "One-time interview URL containing the minted interview_token. Present only on success."
            }
          },
          "additionalProperties": {
            "nullable": true
          }
        },
        "description": "The input users, each annotated with its registration result and (on success) interview URL."
      },
      "RegisterUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the candidate.",
            "example": "Peter Parker"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email used to identify and invite the candidate. Validated per item, not request-level.",
            "example": "jozo@jozo.sk"
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "Optional caller-supplied id, stored on the candidate profile.",
            "example": "abcd"
          }
        }
      },
      "JobInterviewRegisterUsersRequest": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegisterUser"
            },
            "description": "Candidates to register for the interview. Each gets a one-time interview URL.",
            "example": [
              {
                "name": "Peter Parker",
                "email": "jozo@jozo.sk",
                "external_id": "abcd"
              },
              {
                "name": "mr beast",
                "email": "hi@jozefbalaz.com"
              }
            ]
          },
          "interview_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Interview definition (interview_def_set) or position (position_def_set) id to register users for.",
            "example": "04e09fa5-3fb8-4236-b37d-fca2bcd1cb66"
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Merchant id. Required when authenticating with the service key; for user tokens it is optional and only honored for admin / sub-merchant accounts.",
            "example": "b5201178-46dd-4a20-a1af-7ffd647f834b"
          },
          "send_email": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to send an invitation email to each registered candidate."
          },
          "hide_menu": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              },
              {
                "nullable": true
              }
            ],
            "description": "When true (or the string \"true\"), the interview UI hides its menu (view_hm)."
          },
          "hide_iframe": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              },
              {
                "nullable": true
              }
            ],
            "description": "When true (or the string \"true\"), the interview UI hides its iframe chrome (view_hi)."
          },
          "is_test": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              },
              {
                "nullable": true
              }
            ],
            "description": "When true (or the string \"true\"), mints a test token that can take a draft/unpublished interview and flags the result as a test. For a DRAFT interview it also recompiles the definition (interview_recalc_definition) first, so the test session includes the current questions/welcome. This makes it a single-call \"trigger interview test\"."
          }
        },
        "required": [
          "users",
          "interview_id"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total matching records across all pages.",
            "example": 137
          },
          "limit": {
            "type": "integer",
            "description": "Page size used for this response.",
            "example": 50
          },
          "offset": {
            "type": "integer",
            "description": "Offset used for this response.",
            "example": 0
          },
          "has_more": {
            "type": "boolean",
            "description": "True when more records exist beyond this page (offset + returned < total).",
            "example": true
          }
        },
        "required": [
          "total",
          "limit",
          "offset",
          "has_more"
        ]
      },
      "MerchantInterviewListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Interview definition id."
                },
                "merchant_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Owning merchant id."
                },
                "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Interview name."
                },
                "emoji": {
                  "type": "string",
                  "nullable": true,
                  "description": "Emoji marker."
                },
                "type": {
                  "type": "string",
                  "nullable": true,
                  "description": "Product type (interview/coaching/…)."
                },
                "type_avatar": {
                  "type": "string",
                  "nullable": true,
                  "description": "Avatar type used by the interview."
                },
                "status": {
                  "type": "string",
                  "nullable": true,
                  "description": "Lifecycle status."
                },
                "visibility": {
                  "type": "string",
                  "nullable": true,
                  "description": "Visibility (merchant_public/invite/unlisted/…)."
                },
                "mojito_language_code": {
                  "type": "string",
                  "nullable": true,
                  "description": "Platform language code."
                },
                "speech_language_code": {
                  "type": "string",
                  "nullable": true,
                  "description": "Speech language code."
                },
                "environment": {
                  "type": "string",
                  "nullable": true,
                  "description": "Environment (production/test/…)."
                },
                "is_ats": {
                  "type": "boolean",
                  "nullable": true,
                  "description": "Whether the interview is ATS-integrated."
                },
                "is_multi_stage": {
                  "type": "boolean",
                  "nullable": true,
                  "description": "Whether the interview is multi-stage."
                },
                "recording": {
                  "type": "string",
                  "nullable": true,
                  "description": "Per-answer recording/proctoring mode."
                },
                "recording_full_session": {
                  "type": "string",
                  "nullable": true,
                  "description": "Full-session recording mode."
                },
                "billing_single_position": {
                  "type": "boolean",
                  "nullable": true,
                  "description": "Single-position billing flag."
                },
                "billing_single_position_end_at": {
                  "type": "string",
                  "nullable": true,
                  "description": "Single-position billing end (ISO 8601)."
                },
                "cover_image_url": {
                  "type": "string",
                  "nullable": true,
                  "description": "Cover image URL."
                },
                "interview_count": {
                  "type": "number",
                  "nullable": true,
                  "description": "Number of interviews run against this definition."
                },
                "interview_last": {
                  "type": "string",
                  "nullable": true,
                  "description": "Timestamp of the most recent interview (ISO 8601)."
                },
                "calc_duration": {
                  "type": "number",
                  "nullable": true,
                  "description": "Calculated duration."
                },
                "created_at": {
                  "type": "string",
                  "nullable": true,
                  "description": "Creation timestamp (ISO 8601)."
                },
                "updated_at": {
                  "type": "string",
                  "nullable": true,
                  "description": "Last update timestamp (ISO 8601)."
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": {
                "nullable": true
              }
            },
            "description": "The merchant's interview definitions for this page, newest-updated first."
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        },
        "required": [
          "data",
          "pagination"
        ]
      },
      "JobInterviewDetailsResponse": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "nullable": true,
            "description": "Overall interview score."
          },
          "score_simulation": {
            "type": "number",
            "nullable": true,
            "description": "Overall simulated score."
          },
          "score_text": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable score summary."
          },
          "score_sentiment": {
            "type": "number",
            "nullable": true,
            "description": "Sentiment sub-score."
          },
          "score_words_per_minute": {
            "type": "number",
            "nullable": true,
            "description": "Speaking-pace (words per minute) sub-score."
          },
          "score_pronunciation": {
            "type": "number",
            "nullable": true,
            "description": "Pronunciation sub-score."
          },
[...]
