{
  "openapi": "3.1.0",
  "info": {
    "title": "JobMojito API",
    "version": "1.0.0",
    "description": "Public API for JobMojito, served by Supabase Edge Functions. Authenticate with a Supabase JWT access token via the Authorization header."
  },
  "servers": [
    {
      "url": "https://cool.jobmojito.com/functions/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Interviews",
      "description": "Create, configure and manage interview / coaching / assessment definitions."
    },
    {
      "name": "Coaching catalogue",
      "description": "Directories (pages) of the coaching portal catalogue that group coaching sessions and carry custom content pages."
    },
    {
      "name": "Results",
      "description": "Interview results, transcripts, reports, re-attempt requests and analytics."
    },
    {
      "name": "Candidates",
      "description": "List and manage candidates."
    },
    {
      "name": "Knowledge base",
      "description": "Upload documents used to generate knowledge-base interviews."
    },
    {
      "name": "Resume & Form verification",
      "description": "Pre-screen candidates from resumes and forms."
    },
    {
      "name": "Admin",
      "description": "Account administration — invite team/coaching users, manage sub-merchants and avatar templates."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase JWT — `Authorization: Bearer <token>`."
      }
    },
    "schemas": {
      "JobInterviewCreateResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created interview definition set.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          },
          "questions_generated": {
            "type": "number",
            "description": "Number of questions actually generated. May be lower than the requested interview_length, which is capped by max_duration.",
            "example": 8
          },
          "max_duration": {
            "type": "number",
            "description": "Live session limit in seconds stored on the interview — the value sent, or the 1200 default when omitted.",
            "example": 1200
          }
        },
        "required": [
          "interview_def_set_id",
          "questions_generated",
          "max_duration"
        ],
        "description": "Id of the created interview, the number of questions generated and the stored max_duration. Includes embed_id/embed_signing_key when is_embedded=true."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Field is required."
          },
          "name": {
            "type": "string",
            "example": "interview_result_id"
          }
        },
        "required": [
          "error"
        ]
      },
      "JobInterviewCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Interview / position name.",
            "example": "Project manager"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "description": "Job location.",
            "example": "remote"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Id of the interview template to base this interview on.",
            "example": "baa3bf7c-6926-46fd-9005-16738a31f72d"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code used for the interview. Must be one of the platform-languages.json codes.",
            "example": "en"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "type": {
            "type": "string",
            "enum": [
              "interview",
              "coaching",
              "assessment"
            ],
            "description": "Product type of the interview. Options — `interview`: Standard candidate interview for a role — answers are AI-scored and produce a hiring recommendation. | `coaching`: Practice/coaching session — candidate-facing feedback to help them improve; not a hiring evaluation. Only available on the coaching portal, NOT the interview portal. | `assessment`: Skills/knowledge assessment — evaluates competencies and is scored like an interview..",
            "example": "interview"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "interview_type": {
            "type": "string",
            "enum": [
              "pre-screening",
              "pre-screening-with-test-questions",
              "second-interview",
              "remote-freelancer-verification",
              "strength-based-interview",
              "potential-based-interview",
              "process-verification-from-knowledge-base"
            ],
            "description": "Interview style — configures the AI avatar and shapes both the AI-generated questions and the follow-up questions asked during the interview. Defaults to pre-screening when omitted. Options — `pre-screening`: Pre-screening — quick qualification check focusing on basic requirements and availability. | `pre-screening-with-test-questions`: Pre-screening with test questions — pre-screening plus practical questions to test relevant skills. | `second-interview`: Second round interview — deeper dive for candidates who passed initial screening. | `remote-freelancer-verification`: Remote worker verification — verify remote work capabilities and communication skills. | `strength-based-interview`: Strength-based interview — focus on what candidates enjoy and excel at to predict job satisfaction. | `potential-based-interview`: Potential-based interview — assess learning ability and growth potential rather than past experience. | `process-verification-from-knowledge-base`: Knowledge Base interview — generate questions from your knowledge base documents..",
            "example": "pre-screening-with-test-questions"
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Target seniority level for the role; auto-detected from the job description when omitted. Options — `entry-level`: Early-career or graduate roles. | `intermediate`: Some experience required. | `senior`: Experienced professional. | `managerial`: Team or department lead. | `director`: Director-level responsibility. | `executive`: C-suite or executive role..",
            "example": "senior"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required.",
            "example": "optional"
          },
          "interview_tone": {
            "type": "string",
            "nullable": true,
            "description": "Interview tone — configures the AI avatar's speaking style and the tone of the AI-generated questions and follow-ups; omit to default to relaxed. Suggested values — `relaxed`: Friendly and conversational tone that helps candidates feel at ease. | `simple`: Plain language at CEFR A2 level — short sentences and simple words. | `professional`: Formal and business-like approach suitable for senior roles. | `persuasive`: Engaging style that encourages candidates to elaborate.. Case-insensitive; other strings are accepted but unknown tones fall back to the default.",
            "example": "professional"
          },
          "interview_length": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              },
              {
                "nullable": true
              }
            ],
            "description": "Number of questions to generate (1-40). Also capped by max_duration, which allows one question per 2 minutes: 20 min -> 10 questions, 30 min -> 15, 45 min -> 22, 60 min -> 30, 80 min -> 40. Asking for more than the cap is not an error — you get the cap, and the response reports the real count in questions_generated. Omit this field to let the AI pick 5-8.",
            "example": 8
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "minimum": 1,
            "maximum": 20,
            "description": "Allowed candidate attempts (1-20).",
            "example": 1
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum interview duration in seconds. Scopes how many questions are generated (see interview_length) and is stored on the interview as the live session limit and the basis for the credit multiplier. Defaults to 1200 (20 minutes) when omitted.",
            "example": 1200
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "minimum": 0.01,
            "maximum": 0.9,
            "description": "Ask only a random subset of the questions, expressed as a fraction between 0.01 and 0.9 (e.g. 0.5 = 50%). null asks all questions.",
            "example": 0.5
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference for the interview.",
            "example": "my code"
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL.",
            "example": "https://example.com/cover.png"
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "hiring_for_company": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true,
                "description": "End-employer name. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or the client's company name.",
                "example": "Unimo Enterprises"
              },
              "description": {
                "type": "string",
                "nullable": true,
                "description": "Short description of the end employer, used as background context by the agent.",
                "example": "Unimo Enterprises is a leading logistics and supply chain solutions provider."
              },
              "location": {
                "type": "string",
                "nullable": true,
                "description": "Primary location of the end employer.",
                "example": "Sri Lanka"
              },
              "sector": {
                "type": "string",
                "nullable": true,
                "description": "Industry / sector of the end employer.",
                "example": "Logistics and Supply Chain"
              },
              "company_size": {
                "type": "string",
                "nullable": true,
                "description": "Approximate headcount of the end employer.",
                "example": "100-200"
              }
            },
            "description": "Who the position is really for. Omit/null (or an object with name null/blank) when hiring for yourself; { name: 'undisclosed' } for an unnamed external client; or { name: '<company>' } plus optional description/location/sector/company_size for a named client. Stored in creation_parameters.hiring_for_company.",
            "example": {
              "name": "undisclosed"
            }
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview. Tags are also the coaching-catalogue mapping key: a catalogue directory (see the catalogue-tag-create / catalogue-tag-update endpoints) lists a coaching or persona session when the session's tags contain EVERY tag in that directory's `tags_interview_set_filter`. Only `active` sessions with visibility `public` or `merchant_public` are listed.",
            "example": [
              "interview-practice",
              "sales"
            ]
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Admin / sub-merchant callers only; otherwise taken from your token.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Knowledge base store id to source additional context from."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short, two-sentence job description shown to the candidate. Provide it to use it as-is; leave it null/blank and it is AI-generated from the position name and any other context.",
            "example": "Backend role focused on Python, async APIs, and AWS."
          },
          "description_long": {
            "type": "string",
            "nullable": true,
            "description": "Full job description in Markdown (Job Purpose, Responsibilities, Required & Preferred Qualifications). Provide it to use it as-is; leave it null/blank and it is AI-generated (interview and assessment types only)."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations folded into AI generation."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message shown to the candidate."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the interview."
          },
          "additional_context": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Arbitrary additional context object merged into AI generation."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom narration text for the instructional video."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Provisions an embed key and returns embed_id / embed_signing_key, which are used to authenticate/sign the iframe embed.",
            "example": false
          },
          "include_rapport_question": {
            "type": "boolean",
            "nullable": true,
            "description": "Include an opening rapport question. Defaults to false.",
            "example": true
          },
          "include_closing_prompt": {
            "type": "boolean",
            "nullable": true,
            "description": "Include a closing prompt. Defaults to true.",
            "example": true
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Show an instructional video before approval. Defaults to false.",
            "example": true
          },
          "use_enhanced_expectations": {
            "type": "boolean",
            "nullable": true,
            "description": "Reserved flag passed through to generation."
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Custom result-scoring overrides merged with defaults and template overrides."
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          }
        },
        "required": [
          "name",
          "location",
          "interview_template_id",
          "mojito_language_code",
          "status",
          "type",
          "visibility"
        ]
      },
      "JobInterviewCreateFromArrayResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created interview definition set."
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "interview_def_set_id"
        ],
        "description": "The created interview definition set id, plus embed credentials when is_embedded=true."
      },
      "JobInterviewCreateFromArrayQuestion": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "description": "The question text shown to the candidate."
          },
          "id": {
            "type": "string",
            "description": "Caller-local identifier for this question. Only needed when another question references it via conditional_question_main_id (the mapping is resolved within this array)."
          },
          "duration": {
            "type": "number",
            "nullable": true,
            "description": "Answer duration in seconds for this question."
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Per-question language override (one of the platform-languages.json codes). Inherits the interview language when omitted.",
            "example": "en"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Optional label/tag stored on the question."
          },
          "is_conditional": {
            "type": "boolean",
            "nullable": true,
            "description": "Conditional follow-up question (view 'with listening conditional'). Use with conditional_question_main_id."
          },
          "is_without_scoring": {
            "type": "boolean",
            "nullable": true,
            "description": "Question is asked but not scored (view 'without scoring')."
          },
          "is_candidate_asking_recruiter": {
            "type": "boolean",
            "nullable": true,
            "description": "Candidate-asks-recruiter prompt (view 'candidate asking recruiter')."
          },
          "is_expert": {
            "type": "boolean",
            "nullable": true,
            "description": "Expert listening question (view 'with listening expert')."
          },
          "is_multiple_choice": {
            "type": "boolean",
            "nullable": true,
            "description": "Multiple-choice question (view 'multiple choice')."
          },
          "question_alternatives": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Alternative phrasings for the question."
          },
          "conditional_question_main_id": {
            "type": "string",
            "nullable": true,
            "description": "For a conditional question, the id (the local \"id\" field above) of the parent question in this same array that triggers it."
          },
          "knowledge_base_id": {
            "type": "string",
            "nullable": true,
            "description": "Knowledge-base store id (uuid) the question draws context from."
          },
          "external_id": {
            "type": "string",
            "nullable": true,
            "description": "External identifier stored on the question."
          },
          "external_data": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Arbitrary JSON metadata stored on the question."
          },
          "candidate_expectations_json": {
            "type": "object",
            "nullable": true,
            "properties": {
              "weak": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Baseline requirements every viable candidate should meet (table stakes)."
              },
              "moderate": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Requirements expected of a solid, competent candidate."
              },
              "strong": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "High-bar requirements only standout candidates clear."
              }
            },
            "description": "Per-question candidate expectations, bucketed by requirement level (weak/moderate/strong). Extra keys are preserved."
          }
        },
        "required": [
          "question"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "JobInterviewCreateFromArrayRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Interview/position name.",
            "example": "Project manager"
          },
          "location": {
            "type": "string",
            "minLength": 1,
            "description": "Interview location.",
            "example": "remote"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "description": "Id of the interview template to use. Must reference an existing interview_templates row.",
            "example": "46b98d37-1557-4391-beca-03037ead19f2"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code (one of the platform-languages.json codes); must also resolve to a supported language with an Azure speech mapping.",
            "example": "en"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Short interview description.",
            "example": "Project manager role"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "type": {
            "type": "string",
            "enum": [
              "interview",
              "coaching",
              "assessment"
            ],
            "description": "Product type of the interview. Options — `interview`: Standard candidate interview for a role — answers are AI-scored and produce a hiring recommendation. | `coaching`: Practice/coaching session — candidate-facing feedback to help them improve; not a hiring evaluation. Only available on the coaching portal, NOT the interview portal. | `assessment`: Skills/knowledge assessment — evaluates competencies and is scored like an interview..",
            "example": "interview"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "questions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobInterviewCreateFromArrayQuestion"
            },
            "minItems": 1,
            "description": "Ordered list of interview questions to create as steps."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "interview_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "pre-screening",
              "pre-screening-with-test-questions",
              "second-interview",
              "remote-freelancer-verification",
              "strength-based-interview",
              "potential-based-interview",
              "process-verification-from-knowledge-base"
            ],
            "description": "Interview style — configures the AI avatar and the follow-up questions it generates during the interview. The base `questions` you supply are used as-is and are NOT affected by this setting. Options — `pre-screening`: Pre-screening — quick qualification check focusing on basic requirements and availability. | `pre-screening-with-test-questions`: Pre-screening with test questions — pre-screening plus practical questions to test relevant skills. | `second-interview`: Second round interview — deeper dive for candidates who passed initial screening. | `remote-freelancer-verification`: Remote worker verification — verify remote work capabilities and communication skills. | `strength-based-interview`: Strength-based interview — focus on what candidates enjoy and excel at to predict job satisfaction. | `potential-based-interview`: Potential-based interview — assess learning ability and growth potential rather than past experience. | `process-verification-from-knowledge-base`: Knowledge Base interview — generate questions from your knowledge base documents..",
            "example": "pre-screening-with-test-questions"
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Target seniority level for the role; auto-detected from the job description when omitted. Options — `entry-level`: Early-career or graduate roles. | `intermediate`: Some experience required. | `senior`: Experienced professional. | `managerial`: Team or department lead. | `director`: Director-level responsibility. | `executive`: C-suite or executive role..",
            "example": "senior"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required."
          },
          "interview_tone": {
            "type": "string",
            "nullable": true,
            "description": "Tone — configures the AI avatar's speaking style and the follow-up questions it generates; the base `questions` you supply are not affected. Omit to default to relaxed. Suggested values — `relaxed`: Friendly and conversational tone that helps candidates feel at ease. | `simple`: Plain language at CEFR A2 level — short sentences and simple words. | `professional`: Formal and business-like approach suitable for senior roles. | `persuasive`: Engaging style that encourages candidates to elaborate.. Case-insensitive; other strings are accepted but unknown tones fall back to the default.",
            "example": "professional"
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "description": "Allowed attempts, 1-20.",
            "example": 1
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "description": "Fraction of questions to randomly ask, between 0.01 and 0.9."
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference."
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL."
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "hiring_for_company": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true,
                "description": "End-employer name. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or the client's company name.",
                "example": "Unimo Enterprises"
              },
              "description": {
                "type": "string",
                "nullable": true,
                "description": "Short description of the end employer, used as background context by the agent.",
                "example": "Unimo Enterprises is a leading logistics and supply chain solutions provider."
              },
              "location": {
                "type": "string",
                "nullable": true,
                "description": "Primary location of the end employer.",
                "example": "Sri Lanka"
              },
              "sector": {
                "type": "string",
                "nullable": true,
                "description": "Industry / sector of the end employer.",
                "example": "Logistics and Supply Chain"
              },
              "company_size": {
                "type": "string",
                "nullable": true,
                "description": "Approximate headcount of the end employer.",
                "example": "100-200"
              }
            },
            "description": "Who the position is really for. Omit/null (or an object with name null/blank) when hiring for yourself; { name: 'undisclosed' } for an unnamed external client; or { name: '<company>' } plus optional description/location/sector/company_size for a named client. Stored in creation_parameters.hiring_for_company.",
            "example": {
              "name": "undisclosed"
            }
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview. Tags are also the coaching-catalogue mapping key: a catalogue directory (see the catalogue-tag-create / catalogue-tag-update endpoints) lists a coaching or persona session when the session's tags contain EVERY tag in that directory's `tags_interview_set_filter`. Only `active` sessions with visibility `public` or `merchant_public` are listed.",
            "example": [
              "interview-practice",
              "sales"
            ]
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Optional knowledge base store id; validated for existence."
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Target merchant id (admins / sub-merchant only)."
          },
          "description_long": {
            "type": "string",
            "nullable": true,
            "description": "Long-form interview description."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations."
          },
          "candidate_expectations_json": {
            "type": "object",
            "nullable": true,
            "properties": {
              "weak": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Baseline requirements every viable candidate should meet (table stakes)."
              },
              "moderate": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Requirements expected of a solid, competent candidate."
              },
              "strong": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "High-bar requirements only standout candidates clear."
              }
            },
            "description": "Pre-generated candidate expectations, bucketed by requirement level (weak/moderate/strong); auto-generated when omitted for type=interview. Extra keys are preserved."
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Custom scoring overrides merged with defaults."
          },
          "additional_context": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Extra context forwarded to expectation generation."
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Enable an instructional video before approval."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom text for the instructional video."
          },
          "disable_deduplication": {
            "type": "boolean",
            "nullable": true,
            "description": "When true, skip step deduplication on insert."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message."
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Creates an embed key and returns embed_id/embed_signing_key, used to authenticate/sign the iframe embed."
          }
        },
        "required": [
          "name",
          "location",
          "interview_template_id",
          "mojito_language_code",
          "description",
          "status",
          "type",
          "visibility",
          "questions"
        ]
      },
      "JobInterviewCreateForCandidateWithTokenResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ai_accept",
              "recruiter_accept",
              "recruiter_action",
              "ai_reject",
              "recruiter_reject",
              "already-applied"
            ],
            "description": "Decision / lifecycle status for the candidate against this position."
          },
          "position_def_set_id": {
            "type": "string",
            "description": "Created/resolved position id."
          },
          "interview_def_set_id": {
            "type": "string",
            "description": "Created/resolved interview definition set id."
          },
          "profile_interview_id": {
            "type": "string",
            "description": "Candidate profile_interview id."
          },
          "interview_url": {
            "type": "string",
            "description": "URL the candidate should open to continue."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable reason, present on reject / already-applied branches."
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "status",
          "interview_url"
        ],
        "description": "Result of creating (or resolving) the position and enrolling the candidate. Fields present depend on the decision branch."
      },
      "JobInterviewCreateForCandidateWithTokenRequest": {
        "type": "object",
        "properties": {
          "position_def_set_id": {
            "type": "string",
            "nullable": true,
            "description": "Existing position_def_set id. When provided, the position is looked up instead of created, and position_name/position_location/position_country_code/mojito_language_code become optional.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "position_external_id": {
            "type": "string",
            "nullable": true,
            "description": "External position code used to look up an existing position.",
            "example": "JOB-123"
          },
          "interview_template_id": {
            "type": "string",
            "nullable": true,
            "description": "Interview template id to base the interview on. Defaults to the platform template when omitted.",
            "example": "5d8ea38b-eec4-4866-aa6c-b2ea5bc6e45b"
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Only honoured for admin / sub-merchant tokens; otherwise the token merchant is used.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "position_name": {
            "type": "string",
            "nullable": true,
            "description": "Position / job title. Required when position_def_set_id is not provided.",
            "example": "Entry level coffee boy"
          },
          "position_location": {
            "type": "string",
            "nullable": true,
            "description": "Position location. Required when position_def_set_id is not provided.",
            "example": "remote"
          },
          "position_country_code": {
            "type": "string",
            "nullable": true,
            "description": "ISO country code of the position. Required when position_def_set_id is not provided.",
            "example": "SK"
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Interview language code (one of the platform-languages.json codes). Required when position_def_set_id is not provided.",
            "example": "en"
          },
          "position_description": {
            "type": "string",
            "nullable": true,
            "description": "Short, two-sentence position description shown to the candidate. Provide it to use it as-is; leave it null/blank and it is AI-generated from the position name and any other context."
          },
          "position_description_long": {
            "type": "string",
            "nullable": true,
            "description": "Full position description in Markdown (Job Purpose, Responsibilities, Required & Preferred Qualifications). Provide it to use it as-is; leave it null/blank and it is AI-generated."
          },
          "candidate_name": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate full name.",
            "example": "John"
          },
          "candidate_email": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate email (used as auth identity).",
            "example": "peterson6@hello.com"
          },
          "candidate_country_code": {
            "type": "string",
            "minLength": 1,
            "description": "ISO country code of the candidate.",
            "example": "HR"
          },
          "candidate_resume": {
            "type": "string",
            "minLength": 1,
            "description": "Candidate resume parsed text.",
            "example": "Curriculum Vitae ..."
          },
          "candidate_external_id": {
            "type": "string",
            "nullable": true,
            "description": "External candidate id stored on the profile."
          },
          "candidate_linkedin_url": {
            "type": "string",
            "nullable": true,
            "description": "Candidate LinkedIn URL."
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required."
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "minimum": 1,
            "maximum": 20,
            "description": "Number of allowed interview attempts (1-20).",
            "example": 3
          },
          "seniority_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "entry-level",
              "intermediate",
              "senior",
              "managerial",
              "director",
              "executive"
            ],
            "description": "Seniority level of the position. Auto-detected when omitted."
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "How interview results are shown to the candidate. Defaults to minimal."
          },
          "custom_scoring": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Optional custom scoring overrides merged with platform defaults."
          },
          "use_enhanced_expectations": {
            "type": "boolean",
            "nullable": true,
            "description": "Reserved flag for enhanced candidate expectations generation."
          },
          "include_rapport_question": {
            "type": "boolean",
            "nullable": true,
            "description": "Include an opening rapport question. Defaults to false."
          },
          "include_closing_prompt": {
            "type": "boolean",
            "nullable": true,
            "description": "Include a closing prompt. Defaults to true."
          },
          "instructional_video": {
            "type": "boolean",
            "nullable": true,
            "description": "Show an instructional video before the interview. Defaults to false."
          },
          "instructional_video_custom_text": {
            "type": "string",
            "nullable": true,
            "description": "Custom text shown with the instructional video."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message for the interview."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the interview."
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum interview duration in seconds. Scopes how many questions are generated and is stored on the interview as the live session limit and the basis for the credit multiplier. Defaults to 1200 (20 minutes) when omitted.",
            "example": 1200
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the interview will be embedded as an iframe on an external page. Ensures an embed key exists and returns embed_id/embed_signing_key, used to authenticate/sign the iframe embed."
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. null keeps it always available.",
            "example": "2026-12-31"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "max_followups": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 999,
            "description": "Maximum number of AI follow-up questions. 0 disables follow-ups; presets are 0-3 (none/low/normal/high) and custom values start at 4; null uses the template default (Normal).",
            "example": 2
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "minimum": 0.01,
            "maximum": 0.9,
            "description": "Ask only a random subset of the questions, expressed as a fraction between 0.01 and 0.9 (e.g. 0.5 = 50%). null asks all questions.",
            "example": 0.5
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Require pronunciation assessment (restricts to pronunciation-capable languages). Defaults to false.",
            "example": false
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Allow editing the transcript on the result view. Defaults to true.",
            "example": true
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the interview.",
            "example": [
              "engineering",
              "remote"
            ]
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "hiring_for_company": {
            "type": "object",
            "nullable": true,
            "properties": {
              "name": {
                "type": "string",
                "nullable": true,
                "description": "End-employer name. Omit/null when hiring for yourself, 'undisclosed' for an unnamed external client, or the client's company name.",
                "example": "Unimo Enterprises"
              },
              "description": {
                "type": "string",
                "nullable": true,
                "description": "Short description of the end employer, used as background context by the agent.",
                "example": "Unimo Enterprises is a leading logistics and supply chain solutions provider."
              },
              "location": {
                "type": "string",
                "nullable": true,
                "description": "Primary location of the end employer.",
                "example": "Sri Lanka"
              },
              "sector": {
                "type": "string",
                "nullable": true,
                "description": "Industry / sector of the end employer.",
                "example": "Logistics and Supply Chain"
              },
              "company_size": {
                "type": "string",
                "nullable": true,
                "description": "Approximate headcount of the end employer.",
                "example": "100-200"
              }
            },
            "description": "Who the position is really for. Omit/null (or an object with name null/blank) when hiring for yourself; { name: 'undisclosed' } for an unnamed external client; or { name: '<company>' } plus optional description/location/sector/company_size for a named client. Stored in creation_parameters.hiring_for_company.",
            "example": {
              "name": "undisclosed"
            }
          },
          "pdf_export_auto_config": {
            "type": "object",
            "nullable": true,
            "properties": {
              "mojito_language_code": {
                "type": "string",
                "description": "Report language code (platform-languages.json code).",
                "example": "en"
              },
              "contact_details": {
                "type": "boolean",
                "description": "Include candidate contact details."
              },
              "ai_recruiter_assessment": {
                "type": "boolean",
                "description": "Include the AI recruiter assessment."
              },
              "ai_scoring_rubric": {
                "type": "boolean",
                "description": "Include the AI scoring rubric."
              },
              "analytics": {
                "type": "boolean",
                "description": "Include analytics."
              },
              "files": {
                "type": "boolean",
                "description": "Include uploaded candidate files."
              },
              "transcript": {
                "type": "boolean",
                "description": "Include the interview transcript."
              },
              "answer_recording": {
                "type": "boolean",
                "description": "Include per-answer recordings."
              },
              "session_recording": {
                "type": "boolean",
                "description": "Include the full-session recording."
              },
              "group_by_question": {
                "type": "boolean",
                "description": "Group transcript answers by expected question."
              }
            },
            "description": "Auto-generate a candidate PDF report with these options once the interview completes. null disables auto-export."
          }
        },
        "required": [
          "candidate_name",
          "candidate_email",
          "candidate_country_code",
          "candidate_resume"
        ]
      },
      "PersonaCreateResponse": {
        "type": "object",
        "properties": {
          "interview_def_set_id": {
            "type": "string",
            "description": "Id of the newly created persona definition set.",
            "example": "00000000-0000-0000-0000-000000000000"
          },
          "embed_id": {
            "type": "string",
            "description": "Embed id, present only when is_embedded=true."
          },
          "embed_signing_key": {
            "type": "string",
            "description": "Embed signing key, present only when is_embedded=true."
          }
        },
        "required": [
          "interview_def_set_id"
        ],
        "description": "Id of the created persona. Includes embed_id/embed_signing_key when is_embedded=true."
      },
      "PersonaCreateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Persona / session name.",
            "example": "Difficult customer role-play"
          },
          "interview_template_id": {
            "type": "string",
            "minLength": 1,
            "format": "uuid",
            "description": "Id of the interview template (avatar) the persona uses.",
            "example": "baa3bf7c-6926-46fd-9005-16738a31f72d"
          },
          "mojito_language_code": {
            "type": "string",
            "enum": [
              "ar",
              "bg",
              "zh",
              "hr",
              "cs",
              "da",
              "nl",
              "en",
              "fil",
              "fi",
              "fr",
              "de",
              "el",
              "hi",
              "hu",
              "id",
              "it",
              "ja",
              "ko",
              "ms",
              "no",
              "pl",
              "pt",
              "br",
              "ro",
              "ru",
              "sk",
              "es",
              "sv",
              "ta",
              "th",
              "tr",
              "uk",
              "vi"
            ],
            "description": "Platform language code used for the conversation. Must be one of the platform-languages.json codes.",
            "example": "en"
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active"
            ],
            "description": "Lifecycle status of the interview. Options — `draft`: Created but not published — not visible to candidates and cannot be run yet. Use to stage an interview before going live. | `active`: Published and live — candidates can run it..",
            "example": "active"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted"
            ],
            "description": "Who can discover and access the interview. Options — `merchant_public`: Listed on the merchant's public interview list — anyone with the merchant link can find and start it. | `merchant_invite`: Invite-only — only candidates explicitly invited (by email/link) can access it; not listed anywhere. | `merchant_unlisted`: Reachable only via a direct link — not listed anywhere; share the link manually..",
            "example": "merchant_public"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short persona description shown to the candidate on the pre-session poster. Candidate-visible — keep it to max 2 sentences. Unlike job-interview-create, personas run no AI generation, so this is never auto-generated: leave it null/blank and the poster simply shows no description; set it to frame the scene.",
            "example": "A quick sales role-play with an unhappy customer. Your goal is to resolve their complaint and keep the account."
          },
          "persona_role_avatar": {
            "type": "string",
            "minLength": 1,
            "description": "The role the AI avatar plays. Candidate-visible — shown on the pre-session poster as 'Role of the agent', so write it as candidate-facing setup and keep it to max 2 sentences. Example: 'is to act as a happy customer responding to questions'.",
            "example": "is to act as a happy customer responding to questions"
          },
          "persona_role_user": {
            "type": "string",
            "minLength": 1,
            "description": "The role the candidate (mentee) plays. Candidate-visible — shown on the pre-session poster as 'Your role', so write it as candidate-facing setup and keep it to max 2 sentences. Example: 'is to be a sales person trying to sell an additional product to the customer'.",
            "example": "is to be a sales person trying to sell an additional product to the customer"
          },
          "persona_avatar_who_is": {
            "type": "string",
            "nullable": true,
            "description": "Who the avatar represents: name, role, context, personality, woven with what drives them underneath (motive, fear, what they refuse until heard, what they do not know until told). One continuous description; no labelled subsections."
          },
          "persona_avatar_knowledge": {
            "type": "string",
            "nullable": true,
            "description": "Private facts the avatar can use (numbers, dates, names, objections), plus any personal details shareable only after progress and only if natural — timing written inline, not as labelled subsections. Those personal details are never required for the goal."
          },
          "persona_avatar_end_conditions": {
            "type": "string",
            "nullable": true,
            "description": "When the avatar should end the session. Prefer referring to persona_avatar_progress: wrap up when progress is complete (turning point unlocked and a plan accepted, or steps \"Done when\" reached), or when the conversation has clearly broken down."
          },
          "persona_avatar_progress": {
            "type": "string",
            "nullable": true,
            "description": "How the conversation moves forward — one plain-text value starting with `Mode: turning point` (resistance) or `Mode: steps` (difficult conversation protocol), then the labelled lines for that mode (Initial hold / Unlocks when / … or Framework / Steps / …), including a Gates line: do not share later personal details from persona_avatar_knowledge until progress is earned.",
            "example": "Mode: turning point\nInitial hold: ...\nUnlocks when: ...\nAfter unlock: ...\nHard limits: ...\nNo goalposts: ...\nGates: ..."
          },
          "opening_line": {
            "type": "string",
            "nullable": true,
            "description": "The avatar's opening line — the FIRST thing it says out loud when the session starts, before the candidate has said anything. This is a literal spoken line, NOT a description: write the exact words the avatar should say, in character and consistent with persona_role_avatar. For an escalated scenario it should already convey that state (e.g. an angry customer opens angrily). If omitted, the platform inserts a generic default (\"Hello\"), which is usually a weak opener — set this for anything other than a neutral greeting.",
            "example": "Oh, finally — someone actually comes over! I've been waiting for ages. Are you going to help me or not?"
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "maxLength": 2100,
            "description": "Mentee assessment goals — free-text describing what the candidate is expected to achieve (max 2100 chars)."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Cheating/proctoring detection mode for candidate answers — this is NOT a full session recording. Video options also record the candidate. Omit/null to disable. Options — `audio_first_5_answers`: Audio-only cheating detection, first 5 answers only. | `audio_all`: Audio-only cheating detection on every answer. | `video_all`: Audio + video cheating detection on every answer (candidate is recorded for all answers). | `video_first_5_answers`: Audio + video cheating detection, first 5 answers only..",
            "example": "video_all"
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_all",
              "video_all"
            ],
            "description": "Full interview-session recording (includes the avatar and voice) produced as a single file. Independent of `recording`. Omit/null to disable. Options — `audio_all`: Record the whole session audio (avatar + candidate voice) into a single file. Adds +0.2 credits. | `video_all`: Record the whole session video + audio (avatar + candidate) into a single file. Adds +0.4 credits..",
            "example": "video_all"
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "none",
              "minimal",
              "minimal_with_score",
              "advanced",
              "full",
              "full_expand_scores"
            ],
            "description": "Result screen shown to the candidate after finishing. With any value other than `none`, the candidate sees a results screen where they can provide feedback, record an intro video and edit the transcript, and must then submit the result; the value sets how much score/result detail is shown. Options — `none`: No results screen at all — the interview is submitted immediately when the candidate finishes (no feedback, intro video, transcript edit or manual submit step). | `minimal`: Minimal results layout, no score shown. | `minimal_with_score`: Minimal results layout including the overall score. | `advanced`: Advanced results layout with more detail. | `full`: Full results layout with all sections. | `full_expand_scores`: Full results with every score breakdown expanded..",
            "example": "full"
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "enum": [
              "slower",
              "normal",
              "faster"
            ],
            "description": "Conversation pace of the AI avatar. Omit/null keeps the template default pace. Options — `slower`: The avatar speaks more slowly — easier to follow for non-native speakers. | `normal`: Default speaking pace. | `faster`: The avatar speaks more quickly for a snappier conversation..",
            "example": "normal"
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is optional or required.",
            "example": "optional"
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Maximum conversation duration in seconds. Defaults to 1200 (20 min) when omitted.",
            "example": 1200
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Optional external code/reference for the persona.",
            "example": "my code"
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL.",
            "example": "https://example.com/cover.png"
          },
          "interview_location": {
            "type": "string",
            "nullable": true,
            "description": "Optional location label shown for the session.",
            "example": "remote"
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Merchant id. Admin / sub-merchant callers only; otherwise taken from your token.",
            "example": "28106cba-1c27-4e53-b149-32113e5e8e31"
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this persona. Must be a merchant/merchant_owner/admin profile of the same merchant."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom welcome message spoken to the candidate before the role-play starts — set it; omitting it leaves a generic platform default. This is the scene-setting message; the avatar's first in-character line is `opening_line`, which comes after it.",
            "example": "Welcome! You are about to speak with a customer who is unhappy about a recent price increase."
          },
          "thank_you_message": {
            "type": "string",
            "nullable": true,
            "description": "Custom thank-you message shown after the session — set it; omitting it leaves a generic platform default.",
            "example": "Thanks — your role-play has been recorded and will be reviewed by the hiring team."
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags stored on the persona. Tags are also the coaching-catalogue mapping key: a catalogue directory (see the catalogue-tag-create / catalogue-tag-update endpoints) lists a coaching or persona session when the session's tags contain EVERY tag in that directory's `tags_interview_set_filter`. Only `active` sessions with visibility `public` or `merchant_public` are listed.",
            "example": [
              "interview-practice",
              "sales"
            ]
          },
          "portal": {
            "type": "string",
            "nullable": true,
            "enum": [
              "coaching",
              "interview"
            ],
            "description": "REQUIRED IN PRACTICE — pick deliberately; the default is the coaching product, not the recruiting one. `interview`: an interview role-play. Choose this for ANY recruiting or assessment use case (screening candidates, hiring, sales role-plays for applicants). Candidates are invited through the normal invitation flow, results are visible to the recruiter alongside ordinary interview results, it is billed against your merchant credits on the same basis as an interview, and attempts are capped (see `interview_attempts`). | `coaching` (DEFAULT when omitted): the classic coaching persona for practice/training. Runs on the coaching portal, is consumed against the mentee's own coaching credits, is started by the mentee from the catalogue or a shared link, and its results are NOT visible to recruiters. The conversation itself behaves identically in both cases — only the portal, billing, visibility and attempt limits differ.",
            "example": "interview"
          },
          "interview_attempts": {
            "type": "number",
            "nullable": true,
            "minimum": 1,
            "maximum": 20,
            "description": "Allowed candidate attempts (1-20), defaulting to 3. Only meaningful when `portal` is `interview`; coaching personas are unlimited. A recruiter can still grant an extra attempt afterwards.",
            "example": 3
          },
          "is_embedded": {
            "type": "boolean",
            "nullable": true,
            "description": "Set true when the persona will be embedded as an iframe on an external page. Provisions an embed key and returns embed_id / embed_signing_key.",
            "example": false
          }
        },
        "required": [
          "name",
          "interview_template_id",
          "mojito_language_code",
          "status",
          "visibility",
          "persona_role_avatar",
          "persona_role_user"
        ]
      },
      "JobInterviewGetResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Interview or position name."
          },
          "created_at": {
            "type": "string",
            "nullable": true,
            "example": "2026-01-15T09:30:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "example": "2026-01-20T14:05:00.000Z"
          },
          "calc_definition_json": {
            "nullable": true,
            "description": "The compiled interview definition JSON (structure varies by interview type)."
          },
          "is_multistage": {
            "type": "boolean",
            "description": "True when the id resolved to a multi-stage position rather than a single interview."
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "active",
              "archived",
              "deleted",
              "preparing",
              "completed"
            ],
            "description": "Lifecycle status of the interview/position."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "merchant_public",
              "merchant_invite",
              "merchant_unlisted",
              "sub_item"
            ],
            "description": "Who can see and access the interview/position."
          },
          "stage": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Interest",
              "Application submitted",
              "Interview 1st planned",
              "Interview 1st completed",
              "Interview 2nd planned",
              "Interview 2nd completed",
              "Interview 3rd planned",
              "Interview 3rd completed",
              "Offer negotiations",
              "Hired",
              "Rejected",
              "Offer declined",
              "Other"
            ],
            "description": "Hiring-pipeline stage. Null for multi-stage positions."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "coaching",
              "interview",
              "persona",
              "persona_interview",
              "public_avatar",
              "assessment"
            ],
            "description": "Interview type. Null for multi-stage positions."
          },
          "code": {
            "type": "string",
            "nullable": true,
            "description": "Caller-supplied external code/reference."
          },
          "interview_location": {
            "type": "string",
            "nullable": true,
            "description": "Location (create field `location`)."
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL."
          },
          "merchant_id": {
            "type": "string",
            "nullable": true,
            "description": "Owning merchant id."
          },
          "interview_template_id": {
            "type": "string",
            "nullable": true,
            "description": "Interview template id. For multi-stage positions this is the first interview step's template."
          },
          "interview_template_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "offline_elai",
              "offline_synthesia",
              "interactive_heygen",
              "offline_heygen",
              "interactive_elevenlabs"
            ],
            "description": "Type of the linked interview template. `interactive_elevenlabs` is voice-only; the others (`interactive_heygen`, `offline_heygen`, `offline_elai`, `offline_synthesia`) are avatar-based. Null when the template could not be resolved."
          },
          "is_voice_only": {
            "type": "boolean",
            "nullable": true,
            "description": "Convenience flag derived from interview_template_type: true when voice-only (`interactive_elevenlabs`), false when avatar-based, null when the template type could not be resolved."
          },
          "knowledge_base_store_id": {
            "type": "string",
            "nullable": true,
            "description": "Linked knowledge base store id. Null for multi-stage positions."
          },
          "mojito_language_code": {
            "type": "string",
            "nullable": true,
            "description": "Platform (mojito) language code.",
            "example": "en"
          },
          "speech_language_code": {
            "type": "string",
            "nullable": true,
            "description": "Azure speech language code. Null for multi-stage positions."
          },
          "speech_language_name": {
            "type": "string",
            "nullable": true,
            "description": "Azure speech language display name. Null for multi-stage positions."
          },
          "recording": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Per-answer recording mode. Null for multi-stage positions."
          },
          "recording_full_session": {
            "type": "string",
            "nullable": true,
            "enum": [
              "audio_first_5_answers",
              "audio_all",
              "video_all",
              "video_first_5_answers"
            ],
            "description": "Full-session recording mode. Null for multi-stage positions."
          },
          "type_credit": {
            "type": "string",
            "nullable": true,
            "enum": [
              "resume_check",
              "interview_coach_starter",
              "interview_coach_contributor",
              "interview_coach_manager",
              "cover_letter"
            ],
            "description": "Credit bucket the interview draws from. Null for multi-stage positions."
          },
          "result_view": {
            "type": "string",
            "nullable": true,
            "enum": [
              "minimal",
              "advanced",
              "full",
              "full_expand_scores",
              "minimal_with_score",
              "none"
            ],
            "description": "Result view level. Null for multi-stage positions."
          },
          "candidate_video_introduction": {
            "type": "string",
            "nullable": true,
            "enum": [
              "hidden",
              "optional",
              "required"
            ],
            "description": "Whether a candidate video introduction is hidden/optional/required. Null for multi-stage positions."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Short description."
          },
          "interview_description_long": {
            "type": "string",
            "nullable": true,
            "description": "Long description (create/update field `description_long`)."
          },
          "candidate_expectations": {
            "type": "string",
            "nullable": true,
            "description": "Free-text candidate expectations. Null for multi-stage positions."
          },
          "candidate_expectations_json": {
            "nullable": true,
            "description": "Structured candidate expectations JSON — the scoring rubric. Null for multi-stage positions."
          },
          "result_scoring": {
            "nullable": true,
            "description": "Resolved result-scoring config (update field `custom_scoring`; its `max_retries` is the update field `interview_attempts`). Null means the platform defaults apply. Null for multi-stage positions."
          },
          "creation_parameters": {
            "nullable": true,
            "description": "The creation parameters recorded at build time (interview_type, interview_tone, interview_length, additional_context, include_rapport_question, include_closing_prompt, knowledge_base_store_id, seniority_level, hiring_for_company)."
          },
          "interview_department": {
            "type": "string",
            "nullable": true,
            "description": "Department the position belongs to.",
            "example": "Engineering"
          },
          "interview_salary": {
            "type": "string",
            "nullable": true,
            "description": "Salary range shown for the position.",
            "example": "$80k - $100k"
          },
          "interview_available_till": {
            "type": "string",
            "nullable": true,
            "description": "ISO date/time after which the interview is no longer available to candidates. Null means always available."
          },
          "recruiter_profile_id": {
            "type": "string",
            "nullable": true,
            "description": "Profile id of the recruiter owning this interview/position."
          },
          "slug": {
            "type": "string",
            "nullable": true,
            "description": "URL slug of the public listing, when one was generated."
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "Free-form tags. Also the coaching-catalogue mapping key: a catalogue directory lists this session when its `tags_interview_set_filter` is a subset of these tags. Null for multi-stage positions.",
            "example": [
              "interview-practice",
              "sales"
            ]
          },
          "coach_plan": {
            "type": "string",
            "nullable": true,
            "enum": [
              "demo",
              "screening",
              "2nd",
              "3rd",
              "closing",
              "job-specific",
              "other"
            ],
            "description": "Coaching-plan stage this session belongs to. Null for multi-stage positions and for sessions outside any plan."
          },
          "interview_conversation_speed": {
            "type": "string",
            "nullable": true,
            "description": "Conversation pace of the AI avatar (slower/normal/faster). Null keeps the template default. Null for multi-stage positions."
          },
          "max_followups": {
            "type": "number",
            "nullable": true,
            "description": "Maximum number of AI follow-up questions; null uses the template default. Null for multi-stage positions."
          },
          "max_duration": {
            "type": "number",
            "nullable": true,
            "description": "Live session limit in seconds. Null for multi-stage positions."
          },
          "questions_random_subset": {
            "type": "number",
            "nullable": true,
            "description": "Fraction of the questions actually asked (0.01-0.9); null asks all of them. Null for multi-stage positions."
          },
          "required_pronunciation": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether a pronunciation assessment is required. Null for multi-stage positions."
          },
          "result_enable_edit_transcript": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the candidate may edit the transcript on the result view. Null for multi-stage positions."
          },
          "pdf_export_auto_config": {
            "nullable": true,
            "description": "Auto-PDF-report options applied when the interview completes; null when auto-export is off. Null for multi-stage positions."
          }
        },
        "required": [
          "name",
          "created_at",
          "updated_at",
          "is_multistage",
          "status",
          "visibility",
          "stage",
          "type",
          "code",
          "interview_location",
          "cover_image_url",
          "merchant_id",
          "interview_template_id",
          "interview_template_type",
          "is_voice_only",
          "knowledge_base_store_id",
          "mojito_language_code",
          "speech_language_code",
          "speech_language_name",
          "recording",
          "recording_full_session",
          "type_credit",
          "result_view",
[...]
